
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
    
}

p{
    font-size: large ;
    color: #111;
    text-align:center;
    padding:  50px 10px
    ;

}
input[type=image] {
    padding: 2px 20px;
}


.section3{
    padding: 30px;
    margin-top: 5%;
}

.section2{
   text-align: center;
   margin-bottom: 40px;
}

#i1{
    width: 50%;
    height:100%;
    padding:5px 10px  
}
header{

    margin-top: 2%;
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 20px 10px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
}
input[type=text] {
    width:  30%;
    height:100%;
    padding:5px 10px; 
    margin-left: 5px;
    
}
input[type=button] {
    color :black;
    background-color: #fb911f;
    font-size:medium ;



}
.recherche{
    
    margin-top: 5%;
    ;
}
select{
    width: 30%;
    height:100%;
    padding:5px 10px;
}
.logo{
    color:#000;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}
.logo span{
    color: #fb911f;
}

.navbar{
    display: flex;
    position: relative;
}
.navbar li{
    list-style: none;
}
.navbar a{
    color:#000;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
}

.ajout-annonce{
    padding: 10px 20px;
    background: #fb911f;
   margin-top: -10px;
   text-transform:uppercase ;
}

.ajout-annonce:hover{
    background: #d87710;
    transition: ease-out;
}

header .navbar li a:hover{
    color: #fb911f;
    border-bottom: 2px solid #fb911f;
}



header.sticky{
    background: #fff;
    padding: 10px 10px;
    box-shadow: 0px 5px 20px rgba(0,0,0, 0.05);
}

header.sticky .logo{
    color: #000;
}

header.sticky .navbar li a {
    color: #000;
}

header.sticky li a:hover{
    color: #fb911f;
    border-bottom: 2px solid #fb911f;
}

@media (max-width: 991px) {
header, 
header.sticky{
    padding: 10px 20px;
}

header .navbar li{
    margin-left: 0px;
}

header .navbar li a {
    text-decoration: none;
    color: #111;
    font-size: 1.6em;
    font-weight: 300;
}

.navbar{
    display: none;
}
section{
    padding: 20px;
}

.p {
    width: 160px;
    height: 80px;
    padding: 20px;
    border: 8px solid red;
    background: yellow;
  }
}
.h3{
    color: rgb(59, 49, 49);
    font: bold;
    align-content: center;   
    text-align: center;
}
.produit{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
.col{
    flex-basis: 25%;
    padding:10px;
    min-width: width 150px;
    margin-bottom: 50px;
    border-radius: 15px;
    text-align: center;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}
.col img{
    width:40%;
    border-radius: 15px;
    
}
.p2{
    color:rgb(12, 9, 9);
}

.col .p2{
    font-size: 18px;
    font-style:oblique;
    font:bold 3em/1.5;
}
.titre{
   text-align: center;
   margin: 0 auto 60px;
   position: relative;
   line-height: 40px;
   color: #555;
} 
.titre::after{
   content: '';
   background: #ff523b;
   width:80px;
   height: 5px;
   border-radius:5px;
   position: absolute;
   bottom:0 ;
   left:50%;
   transform: translateX(-50%);
}
.prix{
   text-align: right;
   color: black;
  
         font: italic normal bold normal 3em/1.5 Helvetica, Arial, sans-serif;
}